.cart-wrapper {
    padding: 20px;
}

.cart-title {
    font-weight: 600;
    text-align: center;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-button{
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}